{% extends 'base.html' %}
{% load static %}

{% block contenido %}


    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" viewBox="0 0 15 15">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    
    <div class="alert alert-danger d-flex align-items-center m-5" role="alert">
        <svg class="bi flex-shrink-0 me-2" style="fill: rgb(238, 176, 6);" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <h1 class="fw-bold">Error: Acceso no autorizado</h1>
            <h3>Ha intentado acceder a una pagina a la cuál no tiene permisos. Intente volver a su portal (en el menú superior) o a <a class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" href="{% url 'index' %}" >la pagina de inicio</a></h3>
        </div>
    </div>

{% endblock %}
